### Imports

In [2]:
import numpy as np
import pandas as pd
import os
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly.express as px
import json
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/home/ren/Downloads/database.csv')

/home/ren/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.isnull().sum()  #Check Null Values or Lack Thereof (nulls are 'Unkown')

Record ID                0
Agency Code              0
Agency Name              0
Agency Type              0
City                     0
State                    0
Year                     0
Month                    0
Incident                 0
Crime Type               0
Crime Solved             0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Age          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship             0
Weapon                   0
Victim Count             0
Perpetrator Count        0
Record Source            0
dtype: int64

In [5]:
#Changing Column Names to facilitate preprocessing
df.columns =df.columns.str.replace('\s+','_')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638454 entries, 0 to 638453
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Record_ID              638454 non-null  int64
 1   Agency_Code            638454 non-null  object
 2   Agency_Name            638454 non-null  object
 3   Agency_Type            638454 non-null  object
 4   City                   638454 non-null  object
 5   State                  638454 non-null  object
 6   Year                   638454 non-null  int64
 7   Month                  638454 non-null  object
 8   Incident               638454 non-null  int64
 9   Crime_Type             638454 non-null  object
 10  Crime_Solved           638454 non-null  object
 11  Victim_Sex             638454 non-null  object
 12  Victim_Age             638454 non-null  int64
 13  Victim_Race            638454 non-null  object
 14  Victim_Ethnicity       638454 non-null  object
 15  Perpetrator_Sex        638454 non-null  object
 16  Perpetrator_Age        638454 non-null  object
 17  Perpetrator_Race       638454 non-null  object
 18  Perpetrator_Ethnicity  638454 non-null  object
 19  Relationship           638454 non-null  object
 20  Weapon                 638454 non-null  object
 21  Victim_Count           638454 non-null  int64
 22  Perpetrator_Count      638454 non-null  int64
 23  Record_Source          638454 non-null  object
dtypes: int64(6), object(18)
memory usage: 116.9+ MB

/tmp/ipykernel_14142/1036016690.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns =df.columns.str.replace('\s+','_')

### Dropping redundant columns

In [6]:
df.drop(df[['Agency_Code','Agency_Type','Agency_Name','Victim_Ethnicity','Record_Source','Perpetrator_Ethnicity']],axis=1,inplace=True)
df

,Record_ID,City,State,Year,Month,Incident,Crime_Type,Crime_Solved,Victim_Sex,Victim_Age,Victim_Race,Perpetrator_Sex,Perpetrator_Age,Perpetrator_Race,Relationship,Weapon,Victim_Count,Perpetrator_Count
0,1,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,Yes,Male,14,Native American/Alaska Native,Male,15,Native American/Alaska Native,Acquaintance,Blunt Object,0,0
1,2,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0
2,3,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Unknown,0,0
3,4,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0
4,5,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Unknown,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,638450,Park,Wyoming,2014,January,1,Murder or Manslaughter,No,Male,30,White,Unknown,0,Unknown,Unknown,Handgun,0,0
638450,638451,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,Yes,Male,62,White,Male,57,White,Acquaintance,Handgun,0,0
638451,638452,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,Asian/Pacific Islander,Female,22,Asian/Pacific Islander,Daughter,Suffocation,0,0
638452,638453,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,Yes,Male,55,White,Male,31,White,Stranger,Knife,0,1
638453,638454,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,White,Female,24,White,Daughter,Blunt Object,0,1

### Replcaing The "Unknown" Value with NaN

In [7]:
df.replace('Unknown', np.NaN, inplace=True)
df

,Record_ID,City,State,Year,Month,Incident,Crime_Type,Crime_Solved,Victim_Sex,Victim_Age,Victim_Race,Perpetrator_Sex,Perpetrator_Age,Perpetrator_Race,Relationship,Weapon,Victim_Count,Perpetrator_Count
0,1,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,Yes,Male,14,Native American/Alaska Native,Male,15,Native American/Alaska Native,Acquaintance,Blunt Object,0,0
1,2,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0
2,3,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,NaN,0,NaN,NaN,NaN,0,0
3,4,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0
4,5,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,NaN,0,NaN,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,638450,Park,Wyoming,2014,January,1,Murder or Manslaughter,No,Male,30,White,NaN,0,NaN,NaN,Handgun,0,0
638450,638451,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,Yes,Male,62,White,Male,57,White,Acquaintance,Handgun,0,0
638451,638452,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,Asian/Pacific Islander,Female,22,Asian/Pacific Islander,Daughter,Suffocation,0,0
638452,638453,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,Yes,Male,55,White,Male,31,White,Stranger,Knife,0,1
638453,638454,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,White,Female,24,White,Daughter,Blunt Object,0,1

### Filling the missing values

In [8]:
df['Victim_Sex']= df['Victim_Sex'].fillna(df['Victim_Sex'].mode()[0])
df['Victim_Sex'].value_counts()

Male      495109
Female    143345
Name: Victim_Sex, dtype: int64

In [9]:
df['Perpetrator_Race']= df['Perpetrator_Race'].fillna(df['Perpetrator_Race'].mode()[0])
df['Perpetrator_Race'].value_counts()

White                            414290
Black                            214516
Asian/Pacific Islander             6046
Native American/Alaska Native      3602
Name: Perpetrator_Race, dtype: int64

In [10]:
prep_sex_val= df['Perpetrator_Sex'].value_counts() #Unknown
prep_sex_val
df['Perpetrator_Sex']= df['Perpetrator_Sex'].fillna(df['Perpetrator_Sex'].mode()[0])

In [11]:
df['Perpetrator_Age'].replace(df['Perpetrator_Age'].iloc[634666], df['Perpetrator_Age'].mode()[0], inplace=True)
df['Perpetrator_Age'].iloc[634666]

0

In [12]:
#converting perp age from object to numerical
df['Perpetrator_Age'] = pd.to_numeric(df['Perpetrator_Age'])
df['Perpetrator_Age'] .dtypes

dtype('int64')

In [13]:
df['Victim_Age'] = pd.to_numeric(df['Victim_Age'])
df['Victim_Age'].dtypes

dtype('int64')

In [14]:
df['Perpetrator_Age'].value_counts()
df['Perpetrator_Age'].replace(0 , df['Perpetrator_Age'].mean(), inplace=True)
df['Perpetrator_Age'].isnull().sum()

0

In [15]:
df['Perpetrator_Age'] = df['Perpetrator_Age'].fillna(df['Perpetrator_Age'].mode()[0])
df['Perpetrator_Age'].value_counts()

20.322665    216328
20.000000     21625
19.000000     20250
21.000000     18983
18.000000     18834
              ...
95.000000         9
96.000000         7
98.000000         7
2.000000          6
97.000000         3
Name: Perpetrator_Age, Length: 100, dtype: int64

In [16]:
df['Victim_Age'].replace(0 , df['Victim_Age'].mean(), inplace=True)
df['Victim_Age'].value_counts()

22.0    23049
20.0    23031
25.0    22939
21.0    22796
23.0    22438
        ...
94.0      116
95.0       82
97.0       39
96.0       37
98.0       33
Name: Victim_Age, Length: 101, dtype: int64

In [17]:
df['Relationship'].replace('Unknown', np.NaN, inplace=True)
df['Relationship'] = df['Relationship'] .fillna(df['Relationship'].mode()[0])
df['Relationship'].value_counts()

Acquaintance            399031
Stranger                 96593
Wife                     23187
Friend                   21945
Girlfriend               16465
Son                       9904
Family                    9535
Husband                   8803
Daughter                  7539
Boyfriend                 7302
Neighbor                  6294
Brother                   5514
Father                    4361
Mother                    4248
In-Law                    3637
Common-Law Wife           2477
Ex-Wife                   1973
Common-Law Husband        1954
Boyfriend/Girlfriend      1383
Stepfather                1360
Sister                    1292
Stepson                   1170
Stepdaughter               754
Ex-Husband                 629
Employer                   509
Employee                   384
Stepmother                 211
Name: Relationship, dtype: int64

In [18]:
weapon_val =df['Weapon'].value_counts() 
weapon_val 
df['Weapon']= df['Weapon'] .fillna(df['Weapon'].mode()[0])
df['Weapon'].value_counts()

Handgun          350676
Knife             94962
Blunt Object      67337
Firearm           46980
Shotgun           30722
Rifle             23347
Strangulation      8110
Fire               6173
Suffocation        3968
Gun                2206
Drugs              1588
Drowning           1204
Explosives          537
Poison              454
Fall                190
Name: Weapon, dtype: int64

In [19]:
df.fillna(method='ffill', inplace=True)
df

,Record_ID,City,State,Year,Month,Incident,Crime_Type,Crime_Solved,Victim_Sex,Victim_Age,Victim_Race,Perpetrator_Sex,Perpetrator_Age,Perpetrator_Race,Relationship,Weapon,Victim_Count,Perpetrator_Count
0,1,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,Yes,Male,14.000000,Native American/Alaska Native,Male,15.000000,Native American/Alaska Native,Acquaintance,Blunt Object,0,0
1,2,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43.000000,White,Male,42.000000,White,Acquaintance,Strangulation,0,0
2,3,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,No,Female,30.000000,Native American/Alaska Native,Male,20.322665,White,Acquaintance,Handgun,0,0
3,4,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,Yes,Male,43.000000,White,Male,42.000000,White,Acquaintance,Strangulation,0,0
4,5,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,No,Female,30.000000,Native American/Alaska Native,Male,20.322665,White,Acquaintance,Handgun,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,638450,Park,Wyoming,2014,January,1,Murder or Manslaughter,No,Male,30.000000,White,Male,20.322665,White,Acquaintance,Handgun,0,0
638450,638451,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,Yes,Male,62.000000,White,Male,57.000000,White,Acquaintance,Handgun,0,0
638451,638452,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,35.033512,Asian/Pacific Islander,Female,22.000000,Asian/Pacific Islander,Daughter,Suffocation,0,0
638452,638453,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,Yes,Male,55.000000,White,Male,31.000000,White,Stranger,Knife,0,1
638453,638454,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,35.033512,White,Female,24.000000,White,Daughter,Blunt Object,0,1

In [ ]:
df=